<h1>All Episodes</h1>
<%= link_to "Add Appearance", new_appearance_path %>
<ul>
  <% @episodes.each do |episode| %>
    <li><%= link_to "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")}", episode_path(episode) %></li>
  <% end %>
</ul>
